@import "tailwindcss";

@theme {
  --color-background: #c0bbba;
  --color-primary: #35363a;
  --color-secondary: #ecebea;
  --color-accent: #285d33;

  --color-info: #60a5fa;
  --color-positive: #15803d;
  --color-neutral: #ca8a04;
  --color-negative: #b91c1c;

  --animate-fly-out: fly-out 2s ease-out;
  --animate-shake: shake 150ms infinite;

  @keyframes fly-out {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      transform: translateY(-40px);
      opacity: 0;
    }
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    75% {
      transform: translateX(5px);
    }
  }
}

@layer base {
  html {
    background: var(--color-background);
    scrollbar-gutter: stable; /* Not ideal, but fixes some issues */
  }
}

@utility no-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility outline-text {
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff,
    0 2px 3px rgb(0 0 0 / 50%);
}
