@import "tailwindcss";

:root {
  --bg-color: #c0bbba;
  --primary-color: #35363a;
  --secondary-color: #ecebea;
  --accent-color: #285d33;

  --save-color: #60a5fa;
  --positive-color: #15803d;
  --neutral-color: #ca8a04;
  --negative-color: #b91c1c;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
